.title{
    border-radius: 10px;
    margin-bottom: 10px;
    text-align:center;
    width: 210px;
    color:#44e9ff;
    border: solid black 1px;
    }

#button
    {
    border-radius: 10px;
    background-color:#ff4456;
    color: black;
    border-color:#ff4456 ;
    width:100%;
    }
#text
    {
    border-radius: 10px;
    text-align: right;
    background-color:white;
    border-color: black ;
    width:100%
    }